body {
    background-image: url("Images/cookies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Helvetica;
}
h1 {
    font-size: 36pt;
    color: #ff0000;
}
h2 {
    color: black;
}
a {
    color: black;
}
#bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 10px;
}